.movie-list-xl {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-block: 1.7rem;
	text-align: center;

	.genre::before {
		width: 10px;
		height: 100%;
		background-color: var(--highlight);
		content: " ";
		padding-right: 5px;
		margin-right: 10px;
	}

	.genre {
		font-family: "Afacad", "Courier New", Courier, monospace;
		font-size: 2em;
		margin-bottom: 1rem;
	}

	.entries-wrapper {
		width: 100%;
		position: relative;
		display: flex;
		align-items: center;
	}

	.entries {
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory; /* Ensures each movie snaps into place */
		width: 100%;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.entries > * {
		scroll-snap-align: center; /* Aligns each movie in the center */
	}

	.movie-list-nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 3rem;
		height: 30%;
		margin-top: 0;
		background-color: transparent;
		border-radius: 3px;
		opacity: 0.3;
		color: var(--primary);
		border: none;
		cursor: pointer;
		z-index: 1;
		display: flex;
		align-items: center;
		font-size: 5rem;
		padding-inline: 0.65rem;
		transition: opacity 300ms;

		@media (max-width: 500px) {
			display: none;
		}

		&:hover {
			opacity: 0.9;
		}
	}

	.movie-list-nav.left {
		left: 0;
	}

	.movie-list-nav.right {
		right: 0;
	}

	.movie-card {
		display: flex;
		flex-direction: column;
		border: 1px solid #ddd;
		border-radius: 8px;
		overflow: hidden;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		width: 100%; /* Full width for each card */
		max-width: 400px; /* Maximum width to control the size */
		text-align: center;
		flex-shrink: 0;
		color: var(--accent);
		transition: box-shadow 150ms;

		&:hover {
			color: black;
			box-shadow: 0 4px 18px rgba(0, 0, 0, 0.219);
		}

		img {
			width: 100%; /* Ensure image takes full width */
			height: auto;
			object-fit: cover;
		}

		.text {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 1rem;
		}

		.title {
			display: inline-block;
			font-size: 1rem;
			height: 3rem;
		}

		.rating {
			display: flex; /* Use flexbox for the rating div */
			justify-content: center; /* Center contents horizontally */
			align-items: center; /* Center contents vertically (optional) */
			color: #777;
			height: 2rem;
			margin: 0.5rem 0;
		}

		.star {
			color: orange;
			font-size: 1.2rem;
		}
	}
}
